<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <!-- navBar -->
     
    <nav>
                <div class="nav-wrapper">
                  <a class="brand-logo">Loydith Valdivia</a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down right">
                    <li><a href="/">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li> -->
                  </ul>
                </div>
        </nav>

    <!-- Action Line 1-->
    <div class="progress">
            <div class="indeterminate"></div>
        </div>

   {{{body}}}
</body>
</html>