
<!-- Main Body goes in Container -->
<section class="container">
   
                <h1 class="card-title">Portfolio</h1>
  <div class="row">
<!-- Grids --> 
<!-- 1: JavaScript Assignment -->
          
    <div class="col s4">
        <a><img src="../images/trivia-game.png" width="300px" alt="80px"></a>
            <p>
            <a href="https://loydith.github.io/TriviaGame/">• Trivia Game</a>
            </p>
    </div>

<!-- 2: GifTastic -->
          
    <div class="col s4">
        <a><img src="../images/GifTastic.png" width="300px" alt="80px"></a>
            <p>
            <a href="https://loydith.github.io/GIPHY-API/">• GifTastic</a>
            </p>
    </div>
<!--3: Train Scheduler -->
          
    <div class="col s4">
        <a><img src="../images/Train-Scheduler.png" width="300px" alt="80px"></a>
            <p>
            <a href="https://loydith.github.io/Homework_Train_Activity_Basic/">• Train Scheduler</a>
            </p>
    </div>
  </div>
  <!--4 Project 1 -->
    <di class="row">  
        <div class="col s4">
            <a><img src="../images/EventTraveler.png" width="300px" alt="80px"></a>
            <p>
            <a href="https://jpauletti.github.io/EventTraveler/">• EventTraveler</a>
            </p>
        </div>

    <!-- 5: jQuery Assignment -->
          
     <div class="col s4">
        <a><img src="../images/crystals.png" width="300px" alt="80px"></a>
        <p>
            <a href="https://loydith.github.io/unit-4-game">• Crystals Collectors!</a> 
        </p>
  </div>
<!-- 7: JavaScript Assignment-->

<div class="col s4">
    <a><img src="../images/Word-Guess-Game.png" width="300px" alt="50px"></a>
    <p>
        <a href="https://loydith.github.io/Word-Guess-Game-/">• Word Guess Game</a>
    </p>
</div>
</div>
  <!-- 6. Bootstrap Portfolio -->
  <div class="row">    
      <div class="col s4">
         <a><img src="../images/responsive-portfolio.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://loydith.github.io/Bootstrap-Portfolio">• Bootstrap Portfolio</a>
          </p>
      </div>
  <!-- 7. Burger -->
      <div class="col s4">
         <a><img src="../images/app-burger.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://github.com/loydith/burger">• Burger</a>
          </p>
      </div>
<!-- 8. Friend Finder -->
      <div class="col s4">
         <a><img src="../images/survey.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://github.com/loydith/FriendFinder">• Friend Finder</a>
          </p>
      </div>
    </div>

<!-- 9. Amazon -->
<div class="row">  
      <div class="col s4">
         <a><img src="../images/AddNewProduct-2.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://github.com/loydith/Amazon-like">• Amazon</a>
          </p>
      </div>
<!-- Liri-Node App -->
    <div class="col s4">
         <a><img src="../images/liri-node.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://github.com/loydith/liri-node-app">• Liri-Node-App</a>
               
          </p>
      </div>

<!-- Poject 2 -->
    <div class="col s4">
         <a><img src="../images/bracket-battle.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://github.com/loydith/bracket-battle">• Project 2: Bracket-Battle</a>
              <a href="https://bracket-battle.herokuapp.com/">• Link live => Heroku</a>
          </p>
      </div>
</di>
<!-- mongo-scraper -->
<div class="row"> 
    <div class="col s4">
         <a><img src="../images/mongo-scraper.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://github.com/loydith/mongo-scraper">• Mongo Scaper</a><br>
               <a href="https://stormy-citadel-67151.herokuapp.com/">• Link live => Heroku</a>
          </p>
      </div>

<!-- Clicky - game -->

    <div class="col s4">
         <a><img src="../images/clicky-game.png" width="300px" alt="50px"></a>
           <p>
               <a href=" https://github.com/loydith/clicky-game">• Clicky Game</a><br>
               <a href="https://floating-tundra-28461.herokuapp.com/">• Link live on Heroku</a>
              
          </p>
      </div>

<!-- Google - search -->
    <div class="col s4">
         <a><img src="../images/Search-mockup.png" width="300px" alt="50px"></a>
           <p>
                <a href="https://github.com/loydith/google-books">• Google Search/Saved</a><br>
              <a href=" https://google2019.herokuapp.com/">• Link live => Heroku</a>
          </p>
      </div>
</div>

</div>
 <!-- END grid   -->
      </div> 
    </section> 
