{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="public/assets/css/style.css">
</head>
<body> --}}
    <!-- header -->
        {{!-- <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo left">Loydith Valdivia</a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down right">
                    <li><a href="index.html">About</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <!-- <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li> -->
                  </ul>
                </div>
        </nav>    --}}
  <!-- Line Action  -->
    {{!-- <div class="progress">
        <div class="indeterminate"></div>
    </div> --}}

<!-- Main Body goes in Container -->
<section class="container">
   
                <h1 class="card-title">Portfolio</h1>
  <div class="row">
<!-- Grids -->
            
    <!-- 1: JavaScript Assignment -->
          
              <div class="col s4">
                    <a><img src="public/assets/images/trivia-game.png" width="300px" alt="80px"></a>
                    <p>
                        <a href="https://loydith.github.io/TriviaGame/">• Trivia Game</a>
                    </p>
              </div>

    <!-- 2: GifTastic -->
          
            <div class="col s4">
                    <a><img src="public/assets/images/GifTastic.png" width="300px" alt="80px"></a>
                    <p>
                        <a href="https://loydith.github.io/GIPHY-API/">• GifTastic</a>
                    </p>
          </div>
  <!--3: Train Scheduler -->
          
          <div class="col s4">
                    <a><img src="public/images/Train-Scheduler.png" width="300px" alt="80px"></a>
                    <p>
                        <a href="https://loydith.github.io/Homework_Train_Activity_Basic/">• Train Scheduler</a>
                    </p>
          </div>
  </div>
  <!--4 Project 1 -->
<di class="row">  
          <div class="col s4">
                    <a><img src="public/images/EventTraveler.png" width="300px" alt="80px"></a>
                    <p>
                        <a href="https://jpauletti.github.io/EventTraveler/">• EventTraveler</a>
                        • 
                    </p>
          </div>

     <!-- 5: jQuery Assignment -->
          
     <div class="col s4">
        <a><img src="public/images/crystals.png" width="300px" alt="80px"></a>
        <p>
            <a href="https://loydith.github.io/unit-4-game">• Crystals Collectors!</a> 
        </p>
  </div>
<!-- 7: JavaScript Assignment-->

<div class="col s4">
    <a><img src="public/images/Word-Guess-Game.png" width="300px" alt="50px"></a>
    <p>
        <a href="https://loydith.github.io/Word-Guess-Game-/">• Word Guess Game</a>
    </p>
</div>
</div>
  <!-- 6. Bootstrap Portfolio -->
  <div class="row">    
      <div class="col s4">
         <a><img src="public/images/responsive-portfolio.png" width="300px" alt="50px"></a>
           <p>
               <a href="https://loydith.github.io/Bootstrap-Portfolio">• Bootstrap Portfolio</a>
          </p>
      </div>


 <!-- END grid   -->
      </div> 
    </section> 

        <!-- footer -->
    <footer class="page-footer">   
        <div class="footer-copyright">
          <div class="container">
          © 2019 Copyright Loy
          <a class="grey-text text-lighten-4 right" href="#!"></a>  
        </div>  
    </footer>




{{!-- </body>
</html> --}}
