body{
    
    background: white;
    background-image: url('../images/giphy-api.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-wrapper{
    background: #4aaaa5;
}
#image{
    position: relative;
    right: -150px;
}
.page-footer{
    background: #3e618a;
}

/* Change color on hover */

a:hover {
    color: white;
    background-color: #4aaaa5;
}
#nav-mobile a:hover{
    text-decoration: underline;
    
}
#line{
    border-right: 1px solid white;
    padding: 0 50px;
    position: relative;
    /* top: -50px; */
    left: -200px;

}
#line1{
   
    padding: 0 50px;
    position: relative;
    /* top: -50px; */
    left: -200px;

}

/* About Me */
h1{
    font-size: 1.5em;
    padding: 20px;
    color: #4aaaa5;
    border-bottom: 1px solid gray; 
} 
#h2{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: normal;
    padding-top: 10px;
    position: relative;
    right: -220px;
  
}
h4{
    color: #4aaaa5;
    font-size: .9em;
}
h5{
    
    color: #4aaaa5;
    font-size: 1.2em;
    text-align: center
}
h6{
    color: #4aaaa5;
    /* font-size: 1.2em; */
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #06356b;
    padding: 20px;
} 
#orange{
    border: .8px solid orange;
    text-align: center;
}
#red{
    border: .8px solid red;
    text-align: center;
}
#blue{
    border: .8px solid rgb(107, 201, 218);
    text-align: center;
}
#form{
    border: .8px solid #4aaaa5;
}
.btn{
    margin: 80px
}
#text-inside{
    /* text-align: center; */
   top: 15px;
   padding: 15px;
}
footer{
    text-align: center;
}
#logo{
text-align: right;
}

@media only screen and (max-width: 640px) {
    #image{
        /* position: relative; */
        right: 50px;
        padding-left: 180px;
        height: 40px;
        /* margin-top: 100px; */
    }
    #summary{
        margin-top: 350px;
        left: 50px;

    }
    h1, p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    #h2{
        padding: 0;
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    position: relative; 
    left: 100px;
    }
    #image{
        /* position: relative; */
        left: -150px;
        padding-left: 180px;
        /* margin-top: 100px; */
    }
}

@media only screen and (max-width: 980px) {
}

 