body{
    
    background: white;
    background-image: url('../images/giphy-api.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-wrapper{
    background: #4aaaa5;
}
.page-footer{
    background: #3e618a;
}

/* Content */

/* .navbar{
    position: fixed;
    top: 0%;
    width: 100%;
    background: #ffffff;
    left: 0%;
    border-bottom: 5px solid #cccccc;
    height: 90px;
} */

/* navbar */

/* .active {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 250px;
    position: absolute;
    left: 22%;
    text-align: center;
    font-size: 200%;
    padding: 18px;
  } */

/* .about {    
    width: 70px;
    left: 60%;  
    color:gray;
    display: inline-block;
    position: fixed;
    top: 5%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid black;
    
}
#header{
    background: #4aaaa5;
}

.portfolio {    
    width: 70px;
    left: 65%;  
    color:gray;
    display: inline-block;
    position: fixed;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid black;
    top: 5%;
}

.contact {    
    width: 70px;
    left: 70%;  
    color:gray;
    display: inline-block;
    position: fixed;
    top: 5%;;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Change color on hover */

a:hover {
    color: white;
    background-color: #4aaaa5;
}
/*
Content

.main-content{
    border: 0.7px solid #dddddd;
    width: 960px;
    min-height: 600px;
    background: #ffffff;
    
    margin: auto;
    margin-top: 100px;
    
    left: 180px;
    font-family: Arial, Helvetica, sans-serif;
}*/

/* About Me */
h1{
    width: 750px;
    padding: 20px;
    color: #4aaaa5;
    border-bottom: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2em;
    
} 
/* img{
    padding: 25px;
    margin-right: 20px;
} */

/* Text */
/* #right{
    position: relative;
    text-align: left;
    float: right;
    padding: 40px;
    
} */
p{
    font-size: 1.5em;
} 



/* contact-box 

.contact-box{
    position: fixed;
    width: 750px;
    border-radius: 5px;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


input[type=text], select {
    width: 740px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: gray;
  }

  gallery

#images{
    margin: 100px;
    margin-top: 10px;
}

.box {
    height: 187px;
    width: 250px;
    background-size: contain;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#one{
    background-image: url(../images/sports-q-c-640-480-8.jpg);
    
}

.box-text{
    position: relative;
    background-color: #4aaaa5;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top: 100px;
}

#two{
    background-image: url(../images/fashion-q-c-640-480-6.jpg);
}

#three{
    background-image: url(../images/technics-q-c-640-480-4.jpg);
    
}

#four{
    background-image: url(../images/city-q-c-640-480-3.jpg);
    
}

#five{
    background-image: url(../images/city-q-c-640-480-3.jpg);
    
}
*/
.clearfix {
    overflow: auto;
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}  

 /* Media Query Size */

 /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .main-content{
        border: 5px solid #dddddd;
        width: 600px;
    }
}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
