body{
    
    background: white;
    background-image: url('../images/giphy-api.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-wrapper{
    background: #4aaaa5;
}
.page-footer{
    background: #3e618a;
}

/* Change color on hover */

a:hover {
    color: white;
    background-color: #4aaaa5;
}

/* About Me */
h1{
    width: 750px;
    padding: 20px;
    color: #4aaaa5;
    border-bottom: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2em;
    
} 

p{
    font-size: 1.5em;
} 

 